/cli/* filter=lfs diff=lfs merge=lfs -text
/cli/linux/bin/dw filter=lfs diff=lfs merge=lfs -text
/cli/windows/bin/dw.exe filter=lfs diff=lfs merge=lfs -text
/cli/windows/bin/dw.exp filter=lfs diff=lfs merge=lfs -text
/cli/windows/bin/dw.lib filter=lfs diff=lfs merge=lfs -text
/cli/windows/bin/dw.pdb filter=lfs diff=lfs merge=lfs -text
/cli/windows/bin/dw.stripped.pdb filter=lfs diff=lfs merge=lfs -text
